*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0 120px 0 120px;
}
nav{
    display:flex;
    justify-content: space-between;
    /* max-width: 1600px; */
    max-height: 92px;
    border-top: 16px;
    border-bottom: 16px;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav a {
    text-decoration: none;
    color: #000;
}


nav img {
    width: 139px;
    height: 60px;
    margin: 16px auto 16px 120px;
}
nav button{
    margin:24px 120px 24px auto;
    width: 164px;
    height: 44px;
    background-color: #30B868;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding:8px 16px 19px 16px;
    margin-right: 120px;
    /* border-color: #30B868; */
    box-shadow:none;
}

.banner{
    max-width: 1600px;
    max-height: 674px;
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    padding: 115.5px 120px 179.5px 120px;
    border: solid 2px blue;
    margin: 0 auto; 
    text-align: center;
}
/*  banner  start*/
.banner{
    border: 3px solid darkorange;
}
/*  banner-section  start*/
.banner-section{
    border: 3px solid blueviolet;
}
.banner-section-button-1{
    padding: 8px 12px 8px 12px;
    border: none;
    border-radius: 5px;
    max-width: 229px;
    max-height: 35px;
    text-align: center;
    background-color: #FFFFFF;
    color: #30B868;
    font-weight: 500;
    font-size: 16px;
}


p ,.color-white{
    line-height: 24px;
    font-size: 18px;
}
.color-white{
    color: #FFFFFF;
}
.color-green{
    color: #30B868;
}
.background-color-white{
    background-color: #ffffff;
}
.background-color-white{
    background-color: #FFFFFF;
}
.background-color-green{
    background-color: #30B868;
}
/* .second button{
    border-radius: 5px;
    max-width: 251px;
    max-height: 52px;
    padding: 12px 16px;
    font-size: 16px;
}
.border-radius span{
    max-width: 183px;
    max-height: 19px;
} */




/* the pureest is starting. main section .................................... */
#main-section-article-1{
    /* width:1360px; */
    height:153px;
    text-align:center;
    border: 2px solid green;
}
#main-section-article-1 h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 55px;
    max-width: 1360px;
    max-height: 116px;
    margin: 0 auto 11.5px auto;
}
#main-section-article-1 p{
    font-size: 16px;
    font-weight:400;
    line-height: 20px;
    color: #627382;
}
#main-section-article-2{
    display: flex;
    text-align: center;
    gap: 24px;
    border: 2px dotted purple;
    justify-content: space-between;


    
}
#main-section-article-2 div {
    border: 2px solid yellow;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap:16px ;
    text-align: center;
    justify-content: center;
}
#main-section-article-2 div section{
    background-color:#F95555 ;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 10px auto;
}
#main-section-article-2 div img {
    width: 32px;
    height: 32px;
}
#main-section-article-2 div h3 {
    max-width: 271px;
    max-height: 29px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 0 auto 16px auto;
}
#main-section-article-2 div p {
    max-width: 274px;
    max-height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}
#main-section-2{
    max-height: 600px;
    display: flex;
    gap:60px ;
}
#main-section-2-img{
    width: 44%;
    max-width: 600px;
    max-height: 600px;

}
#main-section-2-artcle{
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    gap:16px;

}
#main-section-2-artcle h3{
    font-size: 16px;
    line-height: 20px;
    font-weight:500 ;
    color: #30B868;
}
#main-section-2-artcle h1{
    font-size: 48px;
    /* line-height: 20px; */
    font-weight:700 ;
    color: #001931;
}
#main-section-2-artcle-p{
    font-size: 16px;
    line-height: 20px;
    font-weight:400 ;
    color: #627382;
}
#main-section-2-artcle-div{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#main-section-2-artcle-div article{
    display: flex;
    gap:6px;
    align-items: center;

}
#main-section-2-artcle-div article img{
    width: 16.25px;
    height: 16.25px;

}
#main-section-2-artcle-div article p{
    font-size: 16px;
    line-height: 20px;
    font-weight:500 ;
    color: #001931;
}