*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: #FFFFFF; */
    /* border: 5px solid hotpink; */
}
body{
    margin:0;
    padding: 0;
}
nav{
    padding: 16px 120px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 92px;
    align-items: center;
}
nav img {
    width: 139px;
    height: 60px;
    /* margin: 16px auto 16px 120px; */
}
nav section{
    margin: 0 auto;
}
nav ul{
    list-style: none;
    display:flex;
    gap: 32px;
}
nav a {
    text-decoration: none;
    color: #000;
}
nav button{
    /* margin:24px 120px 24px auto; */
    width: 164px;
    height: 44px;
    background-color: #30B868;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding:12px 16px;
    /*  the below code is to remove the black border */
    outline: none;
    border: none;
    box-shadow: none;
}
/*  banner  start*/
.banner{
    width: 100%;
    height: 100%;
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    padding: 70px 120px 134px 120px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 32px;
}
#banner-section-1{
    /* border: 3px solid blueviolet; */
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#banner-section-1 button{
    padding: 8px 12px;
    gap: 6px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* border: 2px solid salmon; */

    /*  the below code is to remove the black border */
    outline: none;
    border: none;
    box-shadow: none;
    /*  */
    max-width: 19%;
    margin: 0 auto;
    border-radius: 1000px;
    color: #30B868;
    font-size: 16px;
    font-weight:500;
}
#banner-section-1 img{
    width: 9%;
    border-radius: 50%;
}
#banner-section-1 h1{
    color: #FFFFFF;
    font-size:75px;
}
#banner-section-1 h1 div{
    color: #30B868;
}
#banner-section-1 p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
}
#banner-section-2{
    gap: 16px;
    /* border: 2px solid yellowgreen; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner-section-2-button-1{
    padding: 12px 16px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    /* to make the gap work we need this codes */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*  */
    border-radius:4px;
    color: #FFFFFF;
    /*  the below code is to remove the black border */
    outline: none;
    border: none;
    box-shadow: none;
}
.banner-section-2-button-2{
    padding: 12px 16px;
    gap: 10px;
    /* to make the gap work we need this codes */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*  */
    border-radius:4px;
    font-size: 16px;
    font-weight: 600;
    background-color: inherit;
    border: 1.5px solid #FFFFFF;
    color: #FFFFFF;
}
.banner-section-2-button-2 img{
    width: 15%;
    height: 100%;
}
/* the pureest is starting. main section .................................... */
main{
    width: 100%;
    margin: 0;
    /* padding: 0 120px; */
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-bottom: 120px;
}
#body-main-section-1{
    display: flex;
    flex-direction: column;
    gap: 44px;
    background-color: #faf8f8;
    padding: 0 120px;
}
#main-section-article-1{
    /* width:1360px; */
    /* height:153px; */
    text-align:center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* border: 2px solid green; */
}
#main-section-article-1 h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 55px;
    max-width: 1360px;
    max-height: 116px;
    margin: 0 auto 11.5px auto;
}
#main-section-article-1 p{
    font-size: 16px;
    font-weight:400;
    line-height: 20px;
    color: #627382;
}
#main-section-article-2{
    display: flex;
    text-align: center;
    gap: 24px;
    /* border: 2px dotted purple; */
    justify-content: space-between;
}
#main-section-article-2 div {
    /* border: 2px solid yellow; */
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap:16px ;
    text-align: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0x 0 8px 0px #627382;
    border-radius: 8px;
}
#main-section-article-2 div section{
    background-color:#F95555 ;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 10px auto;
}
#main-section-article-2 div img {
    width: 32px;
    height: 32px;
}
#main-section-article-2 div h3 {
    max-width: 271px;
    max-height: 29px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 0 auto 16px auto;
}
#main-section-article-2 div p {
    max-width: 274px;
    max-height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}
#main-section-2{
    max-height: 600px;
    display: flex;
    gap:60px ;
    padding: 0 120px;
}
#main-section-2-img{
    width: 44%;
    max-width: 600px;
    max-height: 600px;

}
#main-section-2-artcle{
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    gap:16px;
}
#main-section-2-artcle h3{
    font-size: 16px;
    line-height: 20px;
    font-weight:500 ;
    color: #30B868;
}
#main-section-2-artcle h1{
    font-size: 48px;
    /* line-height: 20px; */
    font-weight:700 ;
    color: #001931;
}
#main-section-2-artcle-p{
    font-size: 16px;
    line-height: 20px;
    font-weight:400 ;
    color: #627382;
}
#main-section-2-artcle-div{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#main-section-2-artcle-div article{
    display: flex;
    gap:6px;
    align-items: center;
}
#main-section-2-artcle-div article img{
    width: 16.25px;
    height: 16.25px;
}
#main-section-2-artcle-div article p{
    font-size: 16px;
    line-height: 20px;
    font-weight:500 ;
    color: #001931;
}
#main-section-3{
    background-color: #f7f6f2;
    margin: 2px 120px 0px 120px;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap:24px ;
    border-radius: 12px;
}
#main-section-3-div-1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}
#main-section-3-div-1 h1{
    font-size: 40px;
    font-weight:700;
    color: #001931;
}
#main-section-3-div-1 p{
    font-size: 16px;
    font-weight:400;
    color: #627382;
    line-height: 24px;
}
#main-section-3-div-2{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}
#main-section-3-div-2 button{
    width:18% ;
    height: 60px;
    background-color: #30B868;
    margin: auto auto;
    padding: 12px 16px;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*  the below code is to remove the black border */
    outline: none;
    border: none;
    box-shadow: none;
}
#main-section-3-div-2 button span{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    /* margin-left: 25px;
    margin-top: 4px; */
    /* margin: auto; */
}
#main-section-3-div-2 p{
    font-size: 16px;
    font-weight:400;
    color: #627382;
    line-height: 20px;
}
footer{
    width: 100%;
    margin: 0;
    padding: 120px 120px 30px 120px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color:#001931 ;
}
#footer-ssection-1{
    display: flex;
    justify-content: space-between;
}
#footer-ssection-1 img{
    width: 139px;
    height: 60px;
}
#footer-ssection-1 article{
    text-align: left;
    color: #FFFFFF;
}
#footer-ssection-1 article p{
    font-size: 20px;
    font-weight:500;
    line-height: 28px;
}
footer div {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
#footer-ssection-1-article-span-1{
    background-color:#FFFFFF ;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#footer-ssection-1-article-span-2{
    background-color:#FFFFFF ;
    width:25px;
    height:25px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#footer-ssection-1-article-span-3 {
    background-color:#FFFFFF ;
    width:25px;
    height:25px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#footer-ssection-2{
    color: #FAFAFA;
    border-top: 2px solid #5e5f60;
    padding-top: 30px;
}
/* Adding hover effect on all buttons */
a:hover,footer div span :hover,button:hover{
    cursor: pointer;
    background-color:darkgoldenrod;
    color: aqua;
}